<ion-header *ngIf="viewEntered" class="animate__animated animate__fadeIn">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()" color="light">Atrás
        <ion-icon slot="start" name="arrow-back-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Trabajar vehículo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="viewEntered" class="animate__animated animate__fadeIn">
<br>
  <!-- 1 Sin aperturar -->
  <div *ngIf="sinIniciar">
    <ion-button expand="block" color="success" (click)="iniciarTrabajo()">Iniciar trabajo</ion-button>
  </div>

  <!-- 2 En proceso -->

  <!-- Completada -->
  <div *ngIf="completada">
    <ion-button expand="block" color="dark" disabled="true"><b>Completado</b></ion-button>
  </div>

  <ion-accordion-group>
    <ion-accordion value="first" [disabled]="disabled">
      <ion-item slot="header" color="light">
        <ion-label>Checklist del vehículo</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-input type="text" placeholder="Entrega vehículo..." [(ngModel)]="recibe"></ion-input>
        <ion-button expand="block" color="dark" (click)="mostrarModalLuces()">Iniciar checklist</ion-button>
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Fotografías del vehículo</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">



        <ion-card class="ion-card-slide" *ngFor="let item of titulosImagenes; index as i" (click)="presentActionSheet(i+1)">
            <ion-card-header>
              <ion-card-title style="font-size: 22px;">{{item.nombre}}</ion-card-title>
              <ion-row>
                <ion-col size="12" class="center" *ngIf="!mostrarFoto[i]">
                  <p style="color: rgb(167, 165, 165); margin-top: 8px;">
                    <ion-icon name="arrow-down-outline" style="zoom:0.9;" class="ion-icon" slot="start"></ion-icon>
                      Pulsa para agregar una foto
                    <ion-icon name="arrow-down-outline" style="zoom:0.9;" class="ion-icon" slot="end"></ion-icon>
                  </p>
                </ion-col>
              </ion-row>
            </ion-card-header>
            <ion-card-content style="margin-top: -46px;">
              <div *ngIf="mostrarFoto[i]">
                  <img [src]="fotos[i]" class="imageDefault">
              </div>
              <div *ngIf="!mostrarFoto[i]">
                <img src="../../../assets/img/imagePhoto.jpg" style="    max-width: 100%;
                border-radius: 12px;
                margin-top: 15px;">
              </div>
            </ion-card-content>
        </ion-card>



      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col size="2">
          <ion-label>
            <ion-icon name="car" style="zoom:3;" class="ion-icon" slot="start"></ion-icon>
          </ion-label>
        </ion-col>
        <ion-col size="10">
          <ion-label class="alignright">
            <ion-note style="font-size: 22px;">&nbsp;Datos generales&nbsp;</ion-note>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2.6">
          <ion-badge class="badge">Placa :</ion-badge>
        </ion-col>
        <ion-col size="7.4">
          <ion-text *ngIf="vehiculo.placa !== '' || vehiculo.placa !== null">
            <h6>{{vehiculo.placa}}</h6>
          </ion-text>
          <ion-text *ngIf="vehiculo.placa === '' || vehiculo.placa === null">
            <h6>No especificado</h6>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1.6">
          <ion-badge class="badge">ID :</ion-badge>
        </ion-col>
        <ion-col size="10.4">
          <ion-text *ngIf="vehiculo.ID !== '' || vehiculo.ID !== null">
            <h6>{{vehiculo.ID}}</h6>
          </ion-text>
          <ion-text *ngIf="vehiculo.ID === '' || vehiculo.ID === null">
            <h6>No especificado</h6>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5.2">
          <ion-badge class="badge">Tipo de vehículo :</ion-badge>
        </ion-col>
        <ion-col size="6.8">
          <ion-text *ngIf="vehiculo.nombre !== '' || vehiculo.nombre !== null">
            <h6>{{vehiculo.nombre}}</h6>
          </ion-text>
          <ion-text *ngIf="vehiculo.nombre === '' || vehiculo.nombre === null">
            <h6>No especificado</h6>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2.6">
          <ion-badge class="badge">Marca :</ion-badge>
        </ion-col>
        <ion-col size="9.4">
          <ion-text *ngIf="vehiculo.marca !== '' || vehiculo.marca !== null">
            <h6>{{vehiculo.marca}}</h6>
          </ion-text>
          <ion-text *ngIf="vehiculo.marca === '' || vehiculo.marca === null">
            <h6>No especificado</h6>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2.6">
          <ion-badge class="badge">Color :</ion-badge>
        </ion-col>
        <ion-col size="9.4">
          <ion-text *ngIf="vehiculo.color !== '' || vehiculo.color !== null">
            <h6>{{vehiculo.color}}</h6>
          </ion-text>
          <ion-text *ngIf="vehiculo.color === '' || vehiculo.color === null">
            <h6>No especificado</h6>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2.9">
          <ion-badge class="badge">Franjas :</ion-badge>
        </ion-col>
        <ion-col size="9.1">
          <ion-text *ngIf="vehiculo.franjas !== '' || vehiculo.franjas !== null">
            <h6>{{vehiculo.franjas}}</h6>
          </ion-text>
          <ion-text *ngIf="vehiculo.franjas === '' || vehiculo.franjas === null">
            <h6>No especificado</h6>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2.6">
          <ion-badge class="badge">Línea :</ion-badge>
        </ion-col>
        <ion-col size="9.4">
          <ion-text *ngIf="vehiculo.linea !== '' || vehiculo.linea !== null">
            <h6>{{vehiculo.linea}}</h6>
          </ion-text>
          <ion-text *ngIf="vehiculo.linea === '' || vehiculo.linea === null">
            <h6>No especificado</h6>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2.9">
          <ion-badge class="badge">Modelo :</ion-badge>
        </ion-col>
        <ion-col size="9.1">
          <ion-text *ngIf="vehiculo.modelo !== '' || vehiculo.modelo !== null">
            <h6>{{vehiculo.modelo}}</h6>
          </ion-text>
          <ion-text *ngIf="vehiculo.modelo === '' || vehiculo.modelo === null">
            <h6>No especificado</h6>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card button style="padding-top: 31px; background-color: whitesmoke;" (click)="mostrarModalAccesorios()">
    <ion-row>
      <ion-col size="12" class="center">
        <p>
          <ion-icon name="arrow-down-outline" style="zoom:0.9;" class="ion-icon" slot="start"></ion-icon>
          Ver accesorios del vehículo
          <ion-icon name="arrow-down-outline" style="zoom:0.9;" class="ion-icon" slot="end"></ion-icon>
        </p>
      </ion-col>
    </ion-row>
  </ion-card>

<!-- EQUIPOS -->

  <ion-list-header style="margin-bottom: -5px;">
    Equipos Anteriormente Instalados
  </ion-list-header>

  <div style="text-align: center;" *ngIf="spinner">
    <br>
    <br>
    <ion-spinner style="zoom: 1.5;"></ion-spinner>
  </div>
  <ion-card>
    <ion-row style="margin-top: 15px; margin-bottom: 20px;" *ngIf="equiposAnteriores.length !== 0 && equiposAnteriores !== null && !spinner">
      <ion-label style="margin-left: 46%;">
        <ion-icon name="arrow-back-outline" style="zoom:0.9;" slot="start" style="color: gray; margin-bottom: -4px;"></ion-icon>
        <ion-text style="color: gray; font-size: 14px;">&nbsp;Desliza para ver opciones&nbsp;&nbsp;</ion-text>
      </ion-label>
    </ion-row>
    <ion-list *ngIf="equiposAnteriores.length !== 0 && equiposAnteriores !== null && !spinner" style="margin-bottom: -17px;">
      <ion-item-sliding *ngFor="let equipo of equiposAnteriores" class="animate__animated animate__bounceInLeft">
        <ion-item style="margin-bottom: 1px;">
          <ion-label>
            <h2>Modelo: {{ equipo.modelo }}</h2>
            <h3>Serie {{ equipo.serie }} </h3>
            <h3>IMEI: {{ equipo.imei }}</h3>
            <h3 style="color: lightslategrey;">SIM: {{ equipo.sim_nombre}}</h3>
          </ion-label>
        </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="tertiary" expandable (click)="desintalacionSIMActionSheet(equipo)">
          <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" expandable (click)="desintalacionEquipoActionSheet(equipo, 'A')">
          <ion-icon slot="icon-only" name="exit"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <br>
    </ion-list>
  </ion-card>

  <ion-card *ngIf="(equiposAnteriores.length === 0 || equiposAnteriores === null) && !spinner" class="animate__animated animate__bounceInLeft">
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center">No hay equipos para seleccionar!</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-list-header style="margin-bottom: -5px;">
    Equipos Instalados
  </ion-list-header>

  <div style="text-align: center;" *ngIf="spinner">
    <br>
    <br>
    <ion-spinner style="zoom: 1.5;"></ion-spinner>
  </div>
  <ion-card>
    <ion-row style="margin-top: 15px; margin-bottom: 20px;" *ngIf="equiposInstalados.length !== 0 && equiposInstalados !== null && !spinner">
      <ion-label style="margin-left: 46%;">
        <ion-icon name="arrow-back-outline" style="zoom:0.9;" slot="start" style="color: gray; margin-bottom: -4px;"></ion-icon>
        <ion-text style="color: gray; font-size: 14px;">&nbsp;Desliza para ver opciones&nbsp;&nbsp;</ion-text>
      </ion-label>
    </ion-row>
    <ion-list *ngIf="equiposInstalados.length !== 0 && equiposInstalados !== null && !spinner" style="margin-bottom: -17px;">
      <ion-item-sliding *ngFor="let equipo of equiposInstalados" class="animate__animated animate__bounceInLeft">
        <ion-item style="margin-bottom: 1px;">
          <ion-label>
            <h2>Modelo: {{ equipo.modelo }}</h2>
            <h3>Serie {{ equipo.serie }} </h3>
            <h3>IMEI: {{ equipo.imei }}</h3>
            <h3 style="color: lightslategrey;">SIM: {{ equipo.sim_nombre}}</h3>
          </ion-label>
        </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="tertiary" expandable (click)="desintalacionSIMActionSheet(equipo)">
          <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" expandable (click)="desintalacionEquipoActionSheet(equipo, '')">
          <ion-icon slot="icon-only" name="exit"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <br>
    </ion-list>
  </ion-card>

  <ion-card *ngIf="(equiposInstalados.length === 0 || equiposInstalados === null) && !spinner" class="animate__animated animate__bounceInLeft">
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center">No hay equipos para seleccionar!</ion-card-subtitle>
    </ion-card-header>
  </ion-card>


    <ion-list-header style="margin-bottom: -5px;">
      Equipos por instalar
    </ion-list-header>

    <div style="text-align: center;" *ngIf="spinner">
      <br>
      <br>
      <ion-spinner style="zoom: 1.5;"></ion-spinner>
    </div>
    <ion-card>
      <ion-row style="margin-top: 15px; margin-bottom: 20px;" *ngIf="equiposASeleccionar.length !== 0 && equiposASeleccionar !== null && !spinner">
        <ion-label style="margin-left: 55%;">
          <ion-icon name="arrow-back-outline" style="zoom:0.9;" slot="start" style="color: gray; margin-bottom: -4px;"></ion-icon>
          <ion-text style="color: gray; font-size: 14px;">&nbsp;Desliza para asignar&nbsp;&nbsp;</ion-text>
        </ion-label>
      </ion-row>
      <ion-list *ngIf="equiposASeleccionar.length !== 0 && equiposASeleccionar !== null && !spinner" style="margin-bottom: -17px;">
        <ion-item-sliding *ngFor="let equipo of equiposASeleccionar" class="animate__animated animate__bounceInLeft">
          <ion-item style="margin-bottom: 1px;">
            <ion-label>
              <h2>Modelo: {{ equipo.modelo }}</h2>
              <h3>Serie {{ equipo.serie }} </h3>
              <h3>IMEI: {{ equipo.imei }}</h3>
              <h3 style="color: lightslategrey;">SIM: {{equipo.sim_nombre}} - {{equipo.telefono}}</h3>
            </ion-label>
          </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="tertiary" expandable (click)="seleccionar(equipo)">
            <ion-icon slot="icon-only" name="arrow-forward-circle-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <br>
      </ion-list>
    </ion-card>

    <ion-card *ngIf="(equiposASeleccionar.length === 0 || equiposASeleccionar === null) && !spinner" class="animate__animated animate__bounceInLeft">
      <ion-card-header>
        <ion-card-subtitle class="ion-text-center">No hay equipos para seleccionar!</ion-card-subtitle>
      </ion-card-header>
    </ion-card>


<!-- SIM'S -->

    <ion-list-header style="margin-bottom: -5px;">
      SIM's por instalar
    </ion-list-header>

    <div style="text-align: center;" *ngIf="spinner">
      <br>
      <br>
      <ion-spinner style="zoom: 1.5;"></ion-spinner>
    </div>
    <ion-card>
      <ion-row style="margin-top: 15px; margin-bottom: 20px;" *ngIf="simsASeleccionar.length !== 0 && simsASeleccionar !== null && !spinner">
        <ion-label style="margin-left: 55%;">
          <ion-icon name="arrow-back-outline" style="zoom:0.9;" slot="start" style="color: gray; margin-bottom: -4px;"></ion-icon>
          <ion-text style="color: gray; font-size: 14px;">&nbsp;Desliza para asignar&nbsp;&nbsp;</ion-text>
        </ion-label>
      </ion-row>
      <ion-list *ngIf="simsASeleccionar.length !== 0 && simsASeleccionar !== null && !spinner" style="margin-bottom: -17px;">
        <ion-item-sliding *ngFor="let sim of simsASeleccionar" class="animate__animated animate__bounceInLeft">
          <ion-item style="margin-bottom: 1px;">
            <ion-label class="ion-text-wrap">
              <h2>SIM:</h2>
              <h3>{{ sim.sim }} </h3>
            </ion-label>
          </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="tertiary" expandable (click)="seleccionarSim(sim)">
            <ion-icon slot="icon-only" name="arrow-forward-circle-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <br>
      </ion-list>
    </ion-card>

    <ion-card *ngIf="(simsASeleccionar.length === 0 || simsASeleccionar === null) && !spinner" class="animate__animated animate__bounceInLeft">
      <ion-card-header>
        <ion-card-subtitle class="ion-text-center">No hay sim's para seleccionar!</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

  <ion-accordion-group>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Firma y responsable</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-card class="ion-card-slide ion-activatable" style="padding-bottom: 6%; padding-top: 1%;" (click)="mostrarModalSign()">
          <ion-row>
            <ion-col size="12" class="center">
              <p style="color: rgb(167, 165, 165); margin-top: 8px;">
                <ion-icon name="arrow-down-outline" style="zoom:0.9;" class="ion-icon" slot="start"></ion-icon>
                  Pulsa para agregar firma
                <ion-icon name="arrow-down-outline" style="zoom:0.9;" class="ion-icon" slot="end"></ion-icon>
              </p>
            </ion-col>
          </ion-row>
          <img src="../../../assets/img/imageSign.jpg" class="imageDefault" *ngIf="!mostrarFirma">
          <img [src]="signature" class="imageDefault" *ngIf="mostrarFirma">
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </div>
    </ion-accordion>
  </ion-accordion-group>
  <ion-item color="light">
    <ion-label>Formulario de visita</ion-label>
  </ion-item>
  <ion-card>
      <div class="ion-padding">
      <form (ngSubmit)="finalizarTrabajo()" [formGroup]="visitForm">
        <ion-list class="recibe-ion-list">
          <small>Recibe el vehículo:<small style="font-size: 15px; color: red;">*</small> </small>
          <ion-item mode="md" class="recibe-ion-item">
            <ion-input type="name" clearOnEdit="true" clearInput formControlName="recibeVisita">
            </ion-input>
          </ion-item>
          <div class="errors" *ngIf="recibeVisita.invalid && (recibeVisita.dirty || recibeVisita.touched)">
            <span *ngIf="recibeVisita.errors.required">
              <ion-label class="error-container">Este campo es obligatorio</ion-label>
            </span>
          </div>
          <small>Qué se reportó:<small style="font-size: 15px; color: red;">*</small></small>
          <ion-item mode="md" class="recibe-ion-item">
            <ion-input type="name" clearOnEdit="true" clearInput formControlName="reporte">
            </ion-input>
          </ion-item>
          <div class="errors" *ngIf="reporte.invalid && (reporte.dirty || reporte.touched)">
            <span *ngIf="reporte.errors.required">
              <ion-label class="error-container">Este campo es obligatorio</ion-label>
            </span>
          </div>
          <small>Qué se encontró:<small style="font-size: 15px; color: red;">*</small></small>
          <ion-item mode="md" class="recibe-ion-item">
            <ion-input type="name" clearOnEdit="true" clearInput formControlName="encontrado">
            </ion-input>
          </ion-item>
          <div class="errors" *ngIf="encontrado.invalid && (encontrado.dirty || encontrado.touched)">
            <span *ngIf="encontrado.errors.required">
              <ion-label class="error-container">Este campo es obligatorio</ion-label>
            </span>
          </div>
          <small>Solución: (opcional)</small>
          <ion-item mode="md" class="recibe-ion-item">
            <ion-input type="name" clearOnEdit="true" clearInput formControlName="solucion">
            </ion-input>
          </ion-item>
          <div class="errors" *ngIf="solucion.invalid && (solucion.dirty || solucion.touched)">
            <span *ngIf="solucion.errors.required">
              <ion-label class="error-container">Este campo es obligatorio</ion-label>
            </span>
          </div>
          <small>Observaciones al cliente: (opcional)</small>
          <ion-item mode="md" class="recibe-ion-item">
            <ion-input type="name" clearOnEdit="true" clearInput formControlName="observacionesAlCliente">
            </ion-input>
          </ion-item>
          <div class="errors" *ngIf="observacionesAlCliente.invalid && (observacionesAlCliente.dirty || observacionesAlCliente.touched)">
            <span *ngIf="observacionesAlCliente.errors.required">
              <ion-label class="error-container">Este campo es obligatorio</ion-label>
            </span>
          </div>
          <small>Observaciones internas: (opcional)</small>
          <ion-item mode="md" class="recibe-ion-item">
            <ion-input type="name" clearOnEdit="true" clearInput formControlName="observacionesInternas">
            </ion-input>
          </ion-item>
          <div class="errors" *ngIf="observacionesInternas.invalid && (observacionesInternas.dirty || observacionesInternas.touched)">
            <span *ngIf="observacionesInternas.errors.required">
              <ion-label class="error-container">Este campo es obligatorio</ion-label>
            </span>
          </div>
        </ion-list>
      
    <br>
      <div *ngIf="canceladaFallidaCompletada">
        <ion-button expand="block" color="success" type="submit" [disabled]="!visitForm.valid"><b>Finalizar trabajo</b></ion-button>
      </div>
    </form>
  </div>
    </ion-card>
<br>
</ion-content>
